	<article class="clearfix">
		<p><em><%= @codes.total_entries %> ICD-9 Diagnosis Codes Found</em></p>
		
		<% if @codes.empty? %>
		<p>You can search for partial descriptions, multiple words and codes. Try making your search term less specific.</p>
		<% end %>
		
		<ol class="searchResults">

			<% @codes.each do |code| %>
  			<li>
				<%= link_to raw('<h3>'+code.code+'</h3>'+'<p>'+truncate(code.long, :length => 120)+'</p>'), code %>
			</li>
			<% end %>
			
		</ol>
		
		<%= will_paginate @codes %>
	</article>
