	<article class="clearfix">
		<p><em>14,568 ICD-9-CM Diagnosis Codes Found</em></p>
		<ol class="searchResults">

			<% @codes.each do |code| %>
  			<li>
				<%= link_to raw('<h3>'+code.code+'</h3>'+'<p>'+code.short+'</p>'), code %>
			</li>
			<% end %>
			
		</ol>
	</article>
