	<article class="clearfix">
		<p><%= link_to 'Back to all ICD-9-CM Diagnosis Codes', codes_path, :class => 'iconbefore back' %></p>
		<h3><%= @code.code %> <%= @code.short %></h3>
		<p><%= @code.long %>e<p>
	</article>