/* =============================================================================
   Grid
   ========================================================================== */
   
/* 8 Column flexible grid */
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8{
	float:left;
	margin-right:4.1666%/*40px*/;
}
.last{
	margin-right:0;
}
.span1{
	width:8.6956%/*80px*/;
}
.span2{
	width:21.7391%/*200px*/;
}
.span3{
	width:34.7826%/*320px*/;
}
.span4{
	width:47.8260%/*440px*/;
}
.span5{
	width:60.8695%/*560px*/;
}
.span6{
	width:73.9130%/*680px*/;
}
.span7{
	width:86.9565%/*800px*/;
}
.span8{
	width:100%/*920px*/;
}