/* =============================================================================
   Notifications
   ========================================================================== */

.notification{
	padding:10px;
	border:1px solid;
	line-height:24px;
	margin-bottom:20px;
	&.success{
		background-color:lighten($green,65%);
		color:$green;
		border-color:lighten($green,50%);
	}
	&.error{
		background-color:lighten($red,50%);
		color:$red;
		border-color:$red;
	}
	&.info{
		background-color:lighten($lightblue,20%);
		color:darken($lightblue,20%);
		border-color:$lightblue;
	}
	p:last-child{
		margin-bottom:0;
	}
}