/* =============================================================================
   Print stylesheet
   ========================================================================== */



@media print {
	header, footer, .sidebar, .breadcrumbs, a.print{
		display:none;
	}
	
	.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8{
		width:auto;
		float:none;
	}
	
	img{
		max-width:500px;
	}
	
	@page{
		margin:0.5cm;
	}
	
	body {
		font: 12pt Georgia, "Times New Roman", Times, serif !important;
		line-height: 1.3 !important;
		color:#333 !important;
	}
	
	p a:after {
		content: " (" attr(href) ")";
		font-size: 80%;
	}
	
	.roboarticle{
		a.back, .highlight{
			display:none;
		}
	}


}
