/* =============================================================================
   Set variables for SASS
   ========================================================================== */

$orange:#f57206;

$blue:#2c82d9; /* links */

$grey:#ccc;

$linecolor:#ededed;

$fontcolor:#777;

$red:#ac1f1f; /* validation */

$lightblue:#7da0ef; /* info notifications */

$green:#326b17; /*success notifications */



/* =============================================================================
   Setup mixins for SASS
   ========================================================================== */

@mixin clearfix {
 // For modern browsers
  &:before,
  &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }

  // For IE 6/7 (trigger hasLayout)
  & {
    zoom:1;
  }
}

/* 
 * Project: ICD9 Lookup Tool
 * Date: April 2012
 * Creator: Lee Munroe lee.munroe@kareo.com 
 */

/* Layout */
header{
	@include clearfix;
	padding:1em 0;
}

.container{
	max-width:1200px;
	padding:0 20px;
	margin:0 auto;
	overflow:hidden;
}

#logo{
	float:left;
	margin-right:1em;
}

footer{
	padding:1em 0;
}



/* Search form */
.searchform{
	label{
		display:none;
	}
	input{
		/* width:73.9130%; */
		float:left;
		margin-right:10px;
		background:#fffdfe url(image-path('searchbg.png')) no-repeat left;
		padding-left:50px;
	}
	button{
		float:left;
	}
}


/* Search on homepage */
.searchbox{
	@include clearfix;
	input{
		font-size:1.5em/*24px*/;
		width:55%;
		margin-bottom:0;
	}
	.button.search{
		height:46px;
		position:relative;
		&:before{
			position:absolute;
		}
	}
}


/* H1 on homepage for "Help Center" */
header h1{
	float:left;
	line-height:36px;
	font-size:1em;
	margin:0;
}


/* Search Results */
.searchResults{
	list-style:none;
	margin:0;
	padding:0;
	li{
		border-bottom:1px dotted #CCC;
		margin:0;
		a{
			display:block;
			padding:1em;
			text-decoration:none;
			h3{
				color:$blue;
				font-weight:bold;
				margin:0;
			}
			p{
				color:$fontcolor;
				margin:0;
			}
			&:hover, :focus{
				h3{
					text-decoration:underline;
				}
			}
		}
		&:hover{
			background:#f5fafd;
		}
		&:last-child{
			border-bottom:0;
		}
	}
}



/* Print article */
p.printarticle{
	margin:1em 0;
	a, a:visited{
		color:#aaa !important;
	}
}


/* Extra mobile stuff */
@media only screen and (max-width: 480px){
	.back, #logo{
		display:none;
	}
	.searchform input{
		min-width:260px;
	}
}
